<?xml version="1.0" encoding="UTF-8"?>
<!-- Sandbox source code provided by JavaTPoint.com -->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <!-- Define Servlet and associated class -->
        <servlet-name>NicksServlet</servlet-name>
        <servlet-class>NicksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <!-- Define Servlet and associated URL -->
        <servlet-name>NicksServlet</servlet-name>
        <url-pattern>/NicksServlet</url-pattern>
    </servlet-mapping>
    <!-- Define session time -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- Define welcome files -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
