<?xml version="1.0" encoding="UTF-8"?>
<!-- Sandbox source code provided by JavaTPoint.com -->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!-- Define Servlet and associated class -->
    <servlet>
        <servlet-name>NixServlet</servlet-name>
        <servlet-class>NixServlet</servlet-class>
    </servlet>
    <!-- Define Servlet and associated URL -->
    <servlet-mapping>
        <servlet-name>NixServlet</servlet-name>
        <url-pattern>/NixServlet</url-pattern>
    </servlet-mapping>
    <!-- Define session time -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
